<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <div class="container">


              <div class="row">
                <div class="col-sm-6 centered-form">

                <p>Save time, upload multiple products in 1 click!</p>

                    <section id="upload-data-panel">
                        <form id="upload-form" action="/uploads/data" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <legend>Upload Data</legend>
                                <div>
                                    <!-- The name here is important, and will be used later to reference the data -->
                                    <input type="file" name="csvdata" accept="text/cvs">
                                </div>
                                <div>
                                    <input type="submit" value="Submit"/>
                                </div>
                            </fieldset>
                        </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
