<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 centered-form">

      <h1 class="mb-5">Add A New Product</h1>
      <h2 class="mb-5"><a href="/products/bulk-upload">or Bulk Upload</a></h1>
      <form action="/products/" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
    <input type="file" name="picture">

        </div>
        <div class="form-group">
          <label for="sku">SKU</label>
          <input type="sku" name="sku" class="form-control">
        </div>
        <div class="form-group">
          <label for="price">Price</label><br>
         <input type="price" name="price" class="form-control">
        </div>
        <div class="form-group">
          <label for="cat">Category</label><br>
          <select name="cat" id="cat">
            <% types.forEach((cat) => { %>
              <option type="text" value="<%= cat %>" class="form-control"><%= cat %></option>
            <%  }) %>
          </select>
	<div class="form-group">
    <br>
          <button type="submit">Create New Product </button>
        </div>
      </form>
    </div>
  </div>


  </div>
  </div>
  </div>
  </div>
  </header>
